#container
	%section.elenco_testi
		- @songs.each do |album|
			-album.each do |s|
				- if s.is_a? Array
					%h1= "#{s[0][:album]} &#8212; #{s[0][:artist]}"
					%aside
						%a{:href=>''}
							%img{:src=>"/img/image/#{s[0][:cover]}", :width=>80, :height=>80}
					
					%article
						- s.each do |song|
							%div
								%span
									= song[:track]
									%a{:href=>song[:title].urlize}= song[:title]
								%span
									= song[:artist]
									= "feat. #{song[:featuring]}" unless song[:featuring].empty?